<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="styles/style.css" rel="stylesheet">
</head>
<body>
    <div class="content-group">
        <div class="col col-main">
            <div class="solution">
                <div class="zq-main-head">
                    <h1>解决方案</h1>
                    <p>零售、贸易、家装、农业，酒店，深入行业满足企业互联网转型需求</p>
                </div>
                <div class="solution-slide mt30">
                    <div class="main-wrap clearfix">
                        <div id="solutionSlide" class="solution-slide-body">
                            <ul class="slide-content" style="width: 1500px; left: 0px;">
                                <li class="slide-item" style="width: 300px;">
                                    <a href="/shangcheng.html" target="_blank" style="display:block">
                                        <img class="item-bg" src="http://s.300.cn/v2.0/home/images/solution-bgimg-one.jpg" alt="">
                                        <div class="mask">
                                            <div class="bg"></div>
                                            <div class="content">
                                                <div class="item-img-panel" style="height: 69px">
                                                    <i class="zq-icon icon60x55 solution-icon1"></i>
                                                </div>
                                                <p class="line-panel">
                                                    <i class="item-line"></i>
                                                </p>
                                                <h3 class="item-title">全网电商解决方案</h3>
                                                <p class="item-desc">
                                                    为中小企业搭建独立电商平台，提供行业电商解决方案
                                                </p>
                                                <span class="item-link">查看详情</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="slide-item" style="width: 300px;">
                                    <a href="/solution/industry.html" target="_blank" style="display:block">
                                        <img class="item-bg" src="http://s.300.cn/v2.0/home/images/solution-bgimg-two.jpg" alt="">
                                        <div class="mask">
                                            <div class="bg"></div>
                                            <div class="content">
                                                <div class="item-img-panel" style="height: 69px">
                                                    <i class="zq-icon icon60x55 solution-icon2"></i>
                                                </div>
                                                <p class="line-panel">
                                                    <i class="item-line"></i>
                                                </p>
                                                <h3 class="item-title">工业品内贸解决方案</h3>
                                                <p class="item-desc">
                                                    面向工业企业。提供产品推广，商机获取，客户管理的一站式营销管理解决方案
                                                </p>
                                                <span class="item-link">查看详情</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="slide-item" style="width: 300px;">
                                    <a href="/solution/renovation.html" target="_blank" style="display:block">
                                        <img class="item-bg" src="http://s.300.cn/v2.0/home/images/solution-bgimg-thr.jpg" alt="">
                                        <div class="mask">
                                            <div class="bg"></div>
                                            <div class="content">
                                                <div class="item-img-panel" style="height: 69px">
                                                    <i class="zq-icon icon60x55 solution-icon3"></i>
                                                </div>
                                                <p class="line-panel">
                                                    <i class="item-line"></i>
                                                </p>
                                                <h3 class="item-title">装修企业信息展示解决方案</h3>
                                                <p class="item-desc">
                                                    为装修企业打造的装修过程与内容全透明化的信息展示平台
                                                </p>
                                                <span class="item-link">查看详情</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="slide-item" style="width: 300px;">
                                    <a href="/solution/agriculture.html" target="_blank" style="display:block">
                                        <img class="item-bg" src="http://s.300.cn/v2.0/home/images/solution-bgimg-fou.jpg" alt="">
                                        <div class="mask">
                                            <div class="bg"></div>
                                            <div class="content">
                                                <div class="item-img-panel" style="height: 69px">
                                                    <i class="zq-icon icon60x55 solution-icon4"></i>
                                                </div>
                                                <p class="line-panel">
                                                    <i class="item-line"></i>
                                                </p>
                                                <h3 class="item-title">生态农业信息展示解决方案</h3>
                                                <p class="item-desc">
                                                    为生态农业企业提供集展示、预约、产品营销为一体的产品及系统服务
                                                </p>
                                                <span class="item-link">查看详情</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>

                                <li class="slide-item" style="width: 300px;">
                                    <a href="/solution/domain.html" target="_blank" style="display:block">
                                        <img class="item-bg" src="http://s.300.cn/v2.0/home/images/solution-bgimg-fiv.jpg" alt="">
                                        <div class="mask">
                                            <div class="bg"></div>
                                            <div class="content">
                                                <div class="item-img-panel" style="height: 69px">
                                                    <i class="zq-icon icon60x55 solution-icon5"></i>
                                                </div>
                                                <p class="line-panel">
                                                    <i class="item-line"></i>
                                                </p>
                                                <h3 class="item-title">企业域名品牌保护方案</h3>
                                                <p class="item-desc">
                                                    从域名注册、信息管理、安全防护多个层面保护互联网品牌资产不受侵犯
                                                </p>
                                                <span class="item-link">查看详情</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>



                            </ul>
                            <div id="solutionPrev" class="solution-btn prev" style="display: none;">
                                <i class="zq-icon icon14x26 left-arrow"></i>
                            </div>
                            <div id="solutionNext" class="solution-btn next" style="display: none;">
                                <i class="zq-icon icon14x26 rig-arrow"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="http://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        
    </script>
</html>