@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Layout.cshtml";
}

<link rel="stylesheet" href="~/styles/font-awesome.min.css" />
<link rel="stylesheet" href="~/plugins/text-angular/textAngular.css" />

<section ng-controller="newsEditController">
    <div class="panel-body">
        <div class="col-lg-9" style="min-width:1210px;">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form action="" class="ng-pristine ng-valid">
                        <input type="text" name="article-title" placeholder="新闻标题" class="mb-lg form-control input-lg" ng-model="item.Title">
                        <div class="container app">
                            <div text-angular="text-angular" name="htmlcontent" ng-model="item.Content" ta-disabled='disabled'></div>
                        </div>
                        <br>
                        <div class="clearfix">
                            <div class="pull-left">
                                <button type="button" class="btn btn-default m-r-10 m-t-10" ng-click="cancel()">
                                    <em class="fa fa-edit fa-fw"></em>取消
                                </button>
                                <button type="button" class="btn btn-primary m-t-10" ng-click="save()">
                                    <em class="fa fa-check fa-fw"></em>保存
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <p class="lead">新闻反馈</p>
            <div class="panel">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>
                                    <strong>Comment ID</strong>
                                </th>
                                <th>
                                    <strong>Date</strong>
                                </th>
                                <th>
                                    <strong>Username</strong>
                                </th>
                                <th>
                                    <strong>Comment excerpt</strong>
                                </th>
                                <th class="text-center">
                                    <strong>Current status</strong>
                                </th>
                                <th style="width:130px" class="text-right">
                                    <strong>Actions</strong>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>123</td>
                                <td>10/05/2015</td>
                                <td>
                                    <a href="">Jack Jordan</a>
                                </td>
                                <td>Sed quis eros libero, a euismod nisl....</td>
                                <td class="text-center">
                                    <span class="label label-success">Approved</span>
                                </td>
                                <td class="text-right">
                                    <button type="button" class="btn btn-sm btn-default">
                                        <em class="fa fa-pencil"></em>
                                    </button>
                                    <button type="button" class="btn btn-sm btn-danger">
                                        <em class="fa fa-trash"></em>
                                    </button>
                                    <button type="button" class="btn btn-sm btn-success">
                                        <em class="fa fa-check"></em>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>456</td>
                                <td>10/07/2015</td>
                                <td>
                                    <a href="">Hailey Mckinney</a>
                                </td>
                                <td>Nulla facilisi.</td>
                                <td class="text-center">
                                    <span class="label label-success">Approved</span>
                                </td>
                                <td class="text-right">
                                    <button type="button" class="btn btn-sm btn-default">
                                        <em class="fa fa-pencil"></em>
                                    </button>
                                    <button type="button" class="btn btn-sm btn-danger">
                                        <em class="fa fa-trash"></em>
                                    </button>
                                    <button type="button" class="btn btn-sm btn-success">
                                        <em class="fa fa-check"></em>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>789</td>
                                <td>11/05/2015</td>
                                <td>
                                    <a href="">Peyton Reyes</a>
                                </td>
                                <td>Quisque enim nisi, semper non pulvinar et, aliquam id lorem...</td>
                                <td class="text-center">
                                    <span class="label label-warning">Pending</span>
                                </td>
                                <td class="text-right">
                                    <button type="button" class="btn btn-sm btn-default">
                                        <em class="fa fa-pencil"></em>
                                    </button>
                                    <button type="button" class="btn btn-sm btn-danger">
                                        <em class="fa fa-trash"></em>
                                    </button>
                                    <button type="button" class="btn btn-sm btn-success">
                                        <em class="fa fa-check"></em>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>999</td>
                                <td>10/06/2015</td>
                                <td>
                                    <a href="">Darryl Harper</a>
                                </td>
                                <td>Nulla facilisi.</td>
                                <td class="text-center">
                                    <span class="label label-danger">Rejected</span>
                                </td>
                                <td class="text-right">
                                    <button type="button" class="btn btn-sm btn-default">
                                        <em class="fa fa-pencil"></em>
                                    </button>
                                    <button type="button" disabled="" class="btn btn-sm btn-danger">
                                        <em class="fa fa-trash"></em>
                                    </button>
                                    <button type="button" class="btn btn-sm btn-success">
                                        <em class="fa fa-check"></em>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <p class="lead">Article Data</p>
                    <p class="lead">SEO Metadata</p>
                    <div class="form-group">
                        <p>Title</p>
                        <input type="text" placeholder="Brief description.." class="form-control">
                    </div>
                    <div class="form-group">
                        <p>Description</p>
                        <textarea rows="5" placeholder="Max 255 characters..." class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <p>Keywords</p>
                        <textarea rows="5" placeholder="Max 1000 characters..." class="form-control"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Script{
    <script src='~/plugins/text-angular/textAngular-rangy.min.js'></script>
    <script src='~/plugins/text-angular/textAngular-sanitize.min.js'></script>
    <script src='~/plugins/text-angular/textAngular.min.js'></script>
    <script src="~/scripts/newsEdit.js" type="text/javascript"></script>
}

