@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Layout.cshtml";
}
<link rel="stylesheet" href="~/styles/font-awesome.min.css" />
<section ng-controller="newsController">
    <div class="form-group">
        <label class="col-sm-2 control-label">Angular Simple wysiwyg</label>
        <div class="col-sm-10">
            <script type="text/ng-template" id="ng-wig/views/ng-wig.html">
                <div class="ng-wig">
                    <div class="btn-group btn-group-sm wd-wide">
                        <button type="button" title="Header" ng-click="execCommand('formatblock', '&lt;h1&gt;')" class="btn btn-sm btn-default">
                            <em class="fa fa-header"></em>
                        </button>
                        <button type="button" title="Paragraph" ng-click="execCommand('formatblock', '&lt;p&gt;')" class="btn btn-sm btn-default">
                            <em class="fa fa-paragraph"></em>
                        </button>
                        <button type="button" title="Unordered List" ng-click="execCommand('insertunorderedlist')" class="btn btn-sm btn-default">
                            <em class="fa fa-list-ul"></em>
                        </button>
                        <button type="button" title="Ordered List" ng-click="execCommand('insertorderedlist')" class="btn btn-sm btn-default">
                            <em class="fa fa-list-ol"></em>
                        </button>
                        <button type="button" title="Bold" ng-click="execCommand('bold')" class="btn btn-sm btn-default">
                            <em class="fa fa-bold"></em>
                        </button>
                        <button type="button" title="Italic" ng-click="execCommand('italic')" class="btn btn-sm btn-default">
                            <em class="fa fa-italic"></em>
                        </button>
                        <button type="button" title="link" ng-click="execCommand('createlink')" class="btn btn-sm btn-default">
                            <em class="fa fa-link"></em>
                        </button>
                        <button type="button" title="Edit Html" ng-class="{ 'nw-button--active': editMode }" ng-click="toggleEditMode()" class="pull-right btn btn-sm btn-default">
                            <em class="fa fa-pencil"></em>
                        </button>
                    </div>
                    <div class="nw-editor">
                        <textarea ng-show="editMode" ng-model="content" class="nw-editor__src"> </textarea>
                        <iframe scrolling="{{ autoexpand ? 'no' : 'yes' }}" frameBorder="0" ng-hide="editMode" ng-model="content" ng-wig-editable="" class="nw-editor__res"></iframe>
                    </div>
                </div>
            </script>
            <div class="ng-wig ng-isolate-scope" ng-wig="wysiwygContent">
                <div class="btn-group btn-group-sm wd-wide">
                    <button type="button" title="Header" ng-click="execCommand('formatblock', '<h1>')" class="btn btn-sm btn-default"><em class="fa fa-header"></em></button>
                    <button type="button" title="Paragraph" ng-click="execCommand('formatblock', '<p>')" class="btn btn-sm btn-default"><em class="fa fa-paragraph"></em></button>
                    <button type="button" title="Unordered List" ng-click="execCommand('insertunorderedlist')" class="btn btn-sm btn-default"><em class="fa fa-list-ul"></em></button>
                    <button type="button" title="Ordered List" ng-click="execCommand('insertorderedlist')" class="btn btn-sm btn-default"><em class="fa fa-list-ol"></em></button>
                    <button type="button" title="Bold" ng-click="execCommand('bold')" class="btn btn-sm btn-default"><em class="fa fa-bold"></em></button>
                    <button type="button" title="Italic" ng-click="execCommand('italic')" class="btn btn-sm btn-default"><em class="fa fa-italic"></em></button>
                    <button type="button" title="link" ng-click="execCommand('createlink')" class="btn btn-sm btn-default"><em class="fa fa-link"></em></button>
                    <button type="button" title="Edit Html" ng-class="{ 'nw-button--active': editMode }" ng-click="toggleEditMode()" class="pull-right btn btn-sm btn-default"><em class="fa fa-pencil"></em></button>
                </div>
                <div class="nw-editor" style="height: 53px;">
                    <textarea ng-show="editMode" ng-model="content" class="nw-editor__src ng-pristine ng-untouched ng-valid ng-hide"> </textarea><iframe scrolling="no" frameborder="0" ng-hide="editMode" ng-model="content" ng-wig-editable="" class="nw-editor__res ng-pristine ng-untouched ng-valid"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>

@section Script{
    <script src="~/scripts/ng-wig.min.js" type="text/javascript"></script>
    <script src="~/scripts/ngDialog.min.js" type="text/javascript"></script>
    <script src="~/scripts/news.js" type="text/javascript"></script>
}

