html {
    font-family: "宋体","微软雅黑","Helvetica Neue", Arial, sans-serif;
    font-size: 12px;
    /*设置行高*/
    line-height: 1.15;
    /*  字体的小写字母 "x" 的高度与 "font-size" 高度之间的比率被称为一个字体的 aspect 值。
        当字体拥有高的 aspect 值时，那么当此字体被设置为很小的尺寸时会更易阅读。
        举例：Verdana 的 aspect 值是 0.58（意味着当字体尺寸为 100px 时，它的 x-height 是 58px ）。
        Times New Roman 的 aspect 值是 0.46。
        这就意味着 Verdana 在小尺寸时比 Times New Roman 更易阅读*/
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    /*  box-sizing 属性允许您以特定的方式定义匹配某个区域的特定元素。
        例如，假如您需要并排放置两个带边框的框，可通过将 box-sizing 设置为 "border-box"。
        这可令浏览器呈现出带有指定宽度和高度的框，并把边框和内边距放入框中。
    */
    -webkit-box-sizing: border-box; /* Safari */
    -moz-box-sizing: border-box; /* Firefox */
    box-sizing: border-box;
    color: #fff;
}

body {
    /*padding是控件的内容相对控件的边缘的边距．margin是控件边缘相对父空间的边距．
    在CSS中margin是指从自身边框到另一个容器边框之间的距离，就是容器外距离。
    在CSS中padding是指自身边框到自身内部另一个容器边框之间的距离，就是容器内距离。*/
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    overflow: hidden;
}

ul, li {
    list-style: none;
}

.container {
    /*overflow:hidden 可以清除浮动带来的父控件高度丢失的问题*/
    overflow: hidden;
    /*清除浮动*/
    clear: both;
    width: 100%;
    min-width: 1200px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.navigation {
    margin: 0 auto;
}

    .navigation .right {
        margin-right: 20px;
    }

    .navigation .item {
        margin-top: 5px;
    }

    .navigation ul {
        overflow: hidden;
    }

        .navigation ul li {
            float: left;
            margin-left: 10px;
        }

            .navigation ul li a {
                font-size: 14px;
                color: #999999;
            }

                .navigation ul li a:hover {
                    font-size: 14px;
                    color: #ff6600;
                }

.solution {
    margin-top:20px;
    background-color:#0099CC;
}

    .solution .list {
        margin: 0 auto;
        width: 900px;
        overflow: hidden;
        padding:0;
    }

        .solution .list .item {
            float: left;
            width: 300px;
            height: 300px;
            border: none;
            box-shadow: 2px 2px 5px rgba(0,0,0,.2);
        }

            .solution .list .item:hover {
                background-color: #3db1ea;
            }

            .solution .list .item .content {
                text-align: center;
            }

                .solution .list .item .content .title {
                    position: relative;
                    margin-top: 120px;
                    letter-spacing: 4px;
                    font-size: large;
                    transition: all .4s cubic-bezier(.4,0,.2,1);
                }

            .solution .list .item:hover .content .title {
                margin-top: 100px;
            }

            .solution .list .item .content .description {
                font-size: 14px;
                letter-spacing: 2px;
            }

            .solution .list .item .content .link {
                display: inline-block;
                border: 1px solid #fff;
                width: 140px;
                height: 36px;
                line-height: 36px;
                border-radius: 18px;
                font-size: 14px;
                color: #fff;
                text-decoration: none;
                margin-top: 32px;
            }

                .solution .list .item .content .link:hover {
                    color: #0099CC;
                    background: #fff;
                    cursor: pointer;
                }

            .solution .list .item .content .description, .solution .list .item .content .link {
                opacity: 0;
                filter: alpha(opacity=0);
                -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=(0));
                transition: all .4s cubic-bezier(.4,0,.2,1);
            }

            .solution .list .item:hover .content .description, .solution .list .item:hover .content .link {
                opacity: 1;
                filter: alpha(opacity=100);
                -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=(100));
            }

.product {
    margin: 0 auto;
}

    .product .header {
        width: 1000px;
        overflow: hidden;
        text-align: center;
        margin: 0 auto;
        color: #000;
    }

        .product .header .title {
            font-size: 18px;
        }

        .product .header .summary {
            font-size: 14px;
            color: #999999;
        }

    .product .content {
        width: 1000px;
        margin: 0 auto;
        color: #000;
        padding: 0;
    }

        .product .content .list {
            width: 1000px;
            height: 360px;
            padding: 0;
            margin: 40px auto 0;
        }

            .product .content .list .item {
                background-color: #ff6600;
                width: 200px;
                float: left;
                z-index: 4;
                height: 320px;
                position: relative;
                box-shadow: 0 0 5px rgba(0,0,0,.2);
            }

                .product .content .list .item.active {
                    background-color: #0099CC;
                    z-index: 6;
                    box-shadow: 0 0 30px rgba(0,0,0,.2);
                    width: 400px;
                    height: 360px;
                    top: -10px;
                    transition: all .3s cubic-bezier(.4,0,.2,1),z-index 0s .12s;
                }

                .product .content .list .item .header {
                    width: 100%;
                    margin-left: auto;
                    margin-right: auto;
                    text-align: center;
                    height: 160px;
                }

                    .product .content .list .item .header .image {
                        margin-top: 20px;
                        width: 40px;
                        height: 40px;
                        display: inline-block;
                        background: url(../images/introductionicon.png) no-repeat;
                    }

                    .product .content .list .item .header .title {
                        color: #fff;
                        font-weight: 800;
                    }

                    .product .content .list .item .header .desc {
                        color: #373d41;
                        font-size: 14px;
                        margin-bottom: 20px;
                    }

                .product .content .list .item .function {
                    width: 100%;
                    margin: 0 auto;
                    height: 200px;
                    opacity: 1;
                    filter: alpha(opacity=100);
                    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=(100));
                }

                .product .content .list .item.active .function, .product .content .list .item.active .function .functionlist {
                    transition: all .12s cubic-bezier(.4,0,.2,1) 0s;
                    z-index: 2;
                    opacity: 0;
                    filter: alpha(opacity=0);
                    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=(0));
                }

                .product .content .list .item .function .functionlist {
                    margin-top: 20px;
                    padding: 0;
                }

                .product .content .list .item .function .name {
                    display: block;
                    margin-bottom: 20px;
                    text-align: center;
                    font-size: 20px;
                }

                .product .content .list .item .details {
                    margin-top: -200px;
                    margin-left: auto;
                    margin-right: auto;
                    height: 200px;
                }

                .product .content .list .item.active .details {
                    z-index: 3;
                    position: relative;
                    width: 100%;
                    text-align: center;
                    vertical-align: middle;
                }

                .product .content .list .item .details .detaillink {
                    display: inline-block;
                    border: 1px solid #fff;
                    width: 140px;
                    height: 36px;
                    line-height: 36px;
                    border-radius: 18px;
                    font-size: 14px;
                    color: #fff;
                    text-decoration: none;
                    margin-top: 32px;
                    text-align: center;
                }

                .product .content .list .item.active .details .detaillink:hover {
                    color: #1d99d6;
                    background: #fff;
                    cursor: pointer;
                }

                .product .content .list .item .details .detaillink {
                    opacity: 0;
                    filter: alpha(opacity=0);
                    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=(0));
                    transition: all .4s cubic-bezier(.4,0,.2,1);
                }

                .product .content .list .item.active .details .detaillink {
                    opacity: 1;
                    filter: alpha(opacity=100);
                    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=(100));
                }

.prompt {
    padding-top: 1px;
}

    .prompt .main-wrap {
        width: 1000px;
        margin: 0 auto;
        position: relative;
    }

    .prompt .zq-main-head {
        text-align: center;
    }

        .prompt .zq-main-head h1 {
            color: #373d41;
            text-align: center;
        }

        .prompt .zq-main-head p {
            color: #5f6367;
            text-align: center;
        }

    .prompt .zq-sub-desc {
        padding: 0 0 60px;
        text-align: center;
    }

        .prompt .zq-sub-desc p {
            font-size: 16px;
            color: #999;
        }


    .prompt .popular-application-content .popular-application-item {
        width: 25%;
        float: left;
    }

        .prompt .popular-application-content .popular-application-item .item-detail {
            padding: 0 15px;
            text-align: center;
        }

            .prompt .popular-application-content .popular-application-item .item-detail h3 {
                font-size: 20px;
                color: #373d41;
            }

            .prompt .popular-application-content .popular-application-item .item-detail .item-info {
                color: #3db1ea;
                margin: 20px 0;
            }

                .prompt .popular-application-content .popular-application-item .item-detail .item-info a {
                    color: #3db1ea;
                }

            .prompt .popular-application-content .popular-application-item .item-detail .item-desc {
                color: #a7a7a7;
                line-height: 24px;
            }

            .prompt .popular-application-content .popular-application-item .item-detail .p-dot {
                display: inline-block;
                width: 6px;
                height: 6px;
                margin: 0 3px;
                background: #a7a7a7;
                border-radius: 3px;
            }

        .prompt .popular-application-content .popular-application-item .item-img-panel {
            display: inline-block;
        }

    .prompt .popular-application-content .icon64x64 {
        width: 64px;
        height: 64px;
    }

    .prompt .popular-application-content .zq-icon {
        display: inline-block;
        background: url(../images/introductionicon.png) no-repeat;
    }

    .prompt .popular-application-content .popular-app-icon1 {
        background-position: 0 -110px;
    }

    .prompt .popular-application-content .popular-app-icon2 {
        background-position: -64px -110px;
    }


    .prompt .popular-application-content .popular-app-icon3 {
        background-position: -128px -110px;
    }


    .prompt .popular-application-content .popular-app-icon4 {
        background-position: -192px -110px;
    }

    .prompt .popular-application-content .popular-app-icon5 {
        background-position: -256px -110px;
    }

.footer {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    background-color: #000;
}

    .footer .links {
        width: 100%;
    }

        .footer .links .main {
            width: 600px;
            margin: 0 auto;
            padding: 0;
            overflow: hidden;
        }

            .footer .links .main .item {
                width: 200px;
                margin: 0 auto;
                float: left;
            }

                .footer .links .main .item a {
                    text-decoration: none;
                    color: #ed7723;
                    font-size: 14px;
                }

                .footer .links .main .item .wrapper {
                    width: 100%;
                    margin: 0 auto;
                }

                    .footer .links .main .item .wrapper li {
                        margin-top: 10px;
                    }

    .footer .copyright {
        width: 450px;
        margin-top: 20px;
        height: 30px;
        overflow: hidden;
        margin-left: auto;
        margin-right: auto;
    }

        .footer .copyright .logo {
            width: 120px;
            height: 30px;
            float: left;
        }

            .footer .copyright .logo img {
                width: 120px;
                height: 30px;
            }

        .footer .copyright .info {
            color: #373d41;
            float: right;
            width: 330px;
            height: 30px;
            font-size: 14px;
            margin-top: 7px;
            text-align: left;
        }

            .footer .copyright .info a {
                font-size: 14px;
                color: #3db1ea;
            }
