<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>TravellerFilterTest</title>
    <link rel="stylesheet" href="styles/guyu.base.css" />
</head>
<body>
    <div class="container navigation">
        <ul class="left">
            <li class="logo">
                <img src="images/logo.svg" />
            </li>
            <li class="item">
                <a href="#">首页</a>
            </li>
            <li class="item">
                <a href="#">微信公众号</a>
            </li>
            <li class="item">
                <a href="#">微信服务号</a>
            </li>
            <li class="item">
                <a href="#">微信小程序</a>
            </li>
            <li class="item">
                <a href="#">产品展示</a>
            </li>
        </ul>

        <ul class="right">
            <li class="item">
                <a href="#">联系我们</a>
            </li>
            <li class="item">
                <a href="#">关于我们</a>
            </li>
        </ul>
    </div>

    <div class="container solution">
        <ul class="list">
            <li class="item">
                <div class="content">
                    <h3 class="title">企业微信公众平台</h3>
                    <p class="description">
                        为中小企业搭建独立电商平台，提供行业电商解决方案
                    </p>
                    <span class="link">查看详情</span>
                </div>
            </li>
            <li class="item">
                <div class="content">
                    <h3 class="title">门户网站搭建</h3>
                    <p class="description">
                        为中小企业搭建独立电商平台，提供行业电商解决方案
                    </p>
                    <span class="link">查看详情</span>
                </div>
            </li>
            <li class="item">
                <div class="content">
                    <h3 class="title">企业微信应用解决方案</h3>
                    <p class="description">
                        为中小企业搭建独立电商平台，提供行业电商解决方案
                    </p>
                    <span class="link">查看详情</span>
                </div>
            </li>
            <li class="item">
                <div class="content">
                    <h3 class="title">服务号建设及推广</h3>
                    <p class="description">
                        为中小企业搭建独立电商平台，提供行业电商解决方案
                    </p>
                    <span class="link">查看详情</span>
                </div>
            </li>
        </ul>
    </div>

    <div class="container product">
        <div class="header">
            <h3 class="title">一站式企业互联网云服务1</h3>
            <p class="summary">建站、营销、电商、协同、管理，专业产品助您轻松实现智能运营</p>
        </div>

        <div class="content">
            <ul class="list">
                <li class="item">
                    <div class="header">
                        <i class="image"></i>
                        <h3 class="title">网站与门户</h3>
                        <span class="desc">连接内外  覆盖多端</span>
                    </div>
                    <div class="function">
                        <ul class="functionlist">
                            <li class="name">
                                全网门户
                            </li>
                            <li class="name">
                                移动门户
                            </li>
                            <li class="name">
                                企业域名
                            </li>
                        </ul>
                    </div>
                    <!--<div class="mainfunc">
                        <h3 class="summary">全网门户</h3>
                        <p class="tip">全网企业客户触达、获取商机、达成业务</p>
                        <p class="desc">使用企业门户进行客户信息管理、销售线索管理，让您随时随地更轻松地获取新的潜在客户，更快捷地完成业务。</p>
                        <a href="#" target="_blank" class="detaillink">了解详情</a>
                    </div>
                    <div class="subfunc">
                        <ul class="content">
                            <li class="summary">
                                <div class="content">
                                    <h3 class="title">移动门户</h3>
                                    <span class="desc">开启移动场景营销</span>
                                </div>
                            </li>
                            <li class="summary">
                                <div class="content">
                                    <h3 class="title">企业域名</h3>
                                    <p class="desc">注域名，享安全服务</p>
                                </div>
                            </li>
                        </ul>
                    </div>-->
                </li>
                <li class="item">
                    <div class="header">
                        <i class="image"></i>
                        <h3 class="title">网站与门户</h3>
                        <span class="desc">连接内外  覆盖多端</span>
                    </div>
                    <div class="function">
                        <ul class="functionlist">
                            <li class="name">
                                全网门户
                            </li>
                            <li class="name">
                                移动门户
                            </li>
                            <li class="name">
                                企业域名
                            </li>
                        </ul>
                    </div>
                    <!--<div class="mainfunc">
                        <h3 class="summary">全网门户</h3>
                        <p class="tip">全网企业客户触达、获取商机、达成业务</p>
                        <p class="desc">使用企业门户进行客户信息管理、销售线索管理，让您随时随地更轻松地获取新的潜在客户，更快捷地完成业务。</p>
                        <a href="#" target="_blank" class="detaillink">了解详情</a>
                    </div>
                    <div class="subfunc">
                        <ul class="content">
                            <li class="summary">
                                <div class="content">
                                    <h3 class="title">移动门户</h3>
                                    <span class="desc">开启移动场景营销</span>
                                </div>
                            </li>
                            <li class="summary">
                                <div class="content">
                                    <h3 class="title">企业域名</h3>
                                    <p class="desc">注域名，享安全服务</p>
                                </div>
                            </li>
                        </ul>
                    </div>-->
                </li>
                <li class="item">
                    <div class="header">
                        <i class="image"></i>
                        <h3 class="title">网站与门户</h3>
                        <span class="desc">连接内外  覆盖多端</span>
                    </div>
                    <div class="function">
                        <ul class="functionlist">
                            <li class="name">
                                全网门户
                            </li>
                            <li class="name">
                                移动门户
                            </li>
                            <li class="name">
                                企业域名
                            </li>
                        </ul>
                    </div>
                    <!--<div class="mainfunc">
                        <h3 class="summary">全网门户</h3>
                        <p class="tip">全网企业客户触达、获取商机、达成业务</p>
                        <p class="desc">使用企业门户进行客户信息管理、销售线索管理，让您随时随地更轻松地获取新的潜在客户，更快捷地完成业务。</p>
                        <a href="#" target="_blank" class="detaillink">了解详情</a>
                    </div>
                    <div class="subfunc">
                        <ul class="content">
                            <li class="summary">
                                <div class="content">
                                    <h3 class="title">移动门户</h3>
                                    <span class="desc">开启移动场景营销</span>
                                </div>
                            </li>
                            <li class="summary">
                                <div class="content">
                                    <h3 class="title">企业域名</h3>
                                    <p class="desc">注域名，享安全服务</p>
                                </div>
                            </li>
                        </ul>
                    </div>-->
                </li>
                <li class="item">
                    <div class="header">
                        <i class="image"></i>
                        <h3 class="title">网站与门户</h3>
                        <span class="desc">连接内外  覆盖多端</span>
                    </div>
                    <div class="function">
                        <ul class="functionlist">
                            <li class="name">
                                全网门户
                            </li>
                            <li class="name">
                                移动门户
                            </li>
                            <li class="name">
                                企业域名
                            </li>
                        </ul>
                    </div>
                    <!--<div class="mainfunc">
                        <h3 class="summary">全网门户</h3>
                        <p class="tip">全网企业客户触达、获取商机、达成业务</p>
                        <p class="desc">使用企业门户进行客户信息管理、销售线索管理，让您随时随地更轻松地获取新的潜在客户，更快捷地完成业务。</p>
                        <a href="#" target="_blank" class="detaillink">了解详情</a>
                    </div>
                    <div class="subfunc">
                        <ul class="content">
                            <li class="summary">
                                <div class="content">
                                    <h3 class="title">移动门户</h3>
                                    <span class="desc">开启移动场景营销</span>
                                </div>
                            </li>
                            <li class="summary">
                                <div class="content">
                                    <h3 class="title">企业域名</h3>
                                    <p class="desc">注域名，享安全服务</p>
                                </div>
                            </li>
                        </ul>
                    </div>-->
                </li>
            </ul>
        </div>
    </div>

    <div class="container content-group productprompt">
        <div>
            <div class="cloud-service">
                <div>
                    <div>
                        <ul id="cardArea1" class="card-area clearfix">
                            <li class="card-item active">
                                <div class="card">
                                    <div class="card-title">
                                        <div class="content">
                                            <div class="zq-product-img">
                                                <i class="zq-icon icon40x40 crad-area-icon1"></i>
                                            </div>
                                            <h1>网站与门户</h1>
                                            <p class="short-info">连接内外  覆盖多端</p>
                                        </div>
                                    </div>
                                    <div class="card-content content-first bg-e8e8e8">
                                        <ul class="content-first-list">
                                            <li>全网门户</li>
                                            <li>移动门户</li>
                                            <li>企业域名</li>
                                        </ul>
                                    </div>
                                    <div class="card-content content-second">
                                        <div>
                                            <a href="#" target="_blank">
                                                <p class="main-head">全网门户</p>
                                            </a>
                                            <p class="main-tip">全网企业客户触达、获取商机、达成业务</p>
                                            <p class="main-desc">使用企业门户进行客户信息管理、销售线索管理，让您随时随地更轻松地获取新的潜在客户，更快捷地完成业务。</p>
                                            <a href="#" target="_blank">
                                                <div class="main-btn">了解详情</div>
                                            </a>
                                        </div>
                                        <ul class="other-info clearfix">
                                            <li class="other-info-list">
                                                <a href="#" target="_blank">
                                                    <h3 class="other-head">移动门户</h3>
                                                    <p class="other-desc">开启移动场景营销</p>
                                                </a>
                                                <i class="zq-icon  c-a-arrow"></i>
                                            </li>
                                            <li class="other-info-list">
                                                <a href="#" target="_blank">
                                                    <h3 class="other-head">企业域名</h3>
                                                    <p class="other-desc">注域名，享安全服务</p>
                                                </a>
                                                <i class="zq-icon  c-a-arrow"></i>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="card-item">
                                <div class="card">
                                    <div class="card-title">
                                        <div class="content">
                                            <div class="zq-product-img">
                                                <i class="zq-icon icon40x40 crad-area-icon2"></i>
                                            </div>
                                            <h1>营销与推广</h1>
                                            <p class="short-info">全景覆盖  经济之选</p>
                                        </div>
                                    </div>
                                    <div class="card-content content-first bg-e1e1e1">
                                        <ul class="content-first-list">
                                            <li>营销宝</li>
                                            <li>大把推</li>
                                            <li>易米通</li>
                                            <li>Google Adwords</li>
                                        </ul>
                                    </div>

                                    <div class="card-content content-second">
                                        <div>
                                            <a href="#" target="_blank">
                                                <p class="main-head">营销宝</p>
                                            </a>
                                            <p class="main-tip">多场景营销智能工具集</p>
                                            <p class="main-desc">使用中企营销宝进行营销，不论是活动组织、营销推广，还是企业宣传、产品售卖、热点跟踪，让您随时随地便捷的开展营销，提升品牌形象与影响力。</p>
                                            <a href="#" target="_blank">
                                                <div class="main-btn">了解详情</div>
                                            </a>
                                        </div>
                                        <ul class="other-info clearfix">
                                            <li class="other-info-list">
                                                <a href="#" target="_blank">
                                                    <h3 class="other-head">大把推</h3>
                                                    <p class="other-desc">让更多客户找到你</p>
                                                </a>
                                                <i class="zq-icon  c-a-arrow"></i>
                                            </li>
                                            <li class="other-info-list">
                                                <a href="#" target="_blank">
                                                    <h3 class="other-head">易米通</h3>
                                                    <p class="other-desc">国内创新的数字营销平台</p>
                                                </a>
                                                <i class="zq-icon  c-a-arrow"></i>
                                            </li>
                                            <li class="other-info-list">
                                                <a href="#" target="_blank">
                                                    <h3 class="other-head">Google Adwords</h3>
                                                    <p class="other-desc">助力您的海外拓金之路</p>
                                                </a>
                                                <i class="zq-icon  c-a-arrow"></i>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="card-item">
                                <div class="card">
                                    <div class="card-title">
                                        <div class="content">
                                            <div class="zq-product-img">
                                                <i class="zq-icon icon40x40 crad-area-icon3"></i>
                                            </div>
                                            <h1>电商与业务</h1>
                                            <p class="short-info">在线业务  轻松实现</p>
                                        </div>
                                    </div>
                                    <div class="card-content content-first bg-e8e8e8">
                                        <ul class="content-first-list">
                                            <li>扫码购</li>
                                            <li>微订房</li>
                                            <li>ZshopS</li>
                                        </ul>
                                    </div>

                                    <div class="card-content content-second">
                                        <div>
                                            <a href="#" target="_blank">
                                                <p class="main-head">扫码购</p>
                                            </a>
                                            <p class="main-tip">简单高效的移动销售工具</p>
                                            <p class="main-desc">扫码购集商品、订单、买家、物流、支付、短信通知于一体，买家可通过扫描商品二维码、手机快速下单，助力企业实现随时随地移动销售。</p>
                                            <a href="#" target="_blank">
                                                <div class="main-btn">了解详情</div>
                                            </a>
                                        </div>
                                        <ul class="other-info clearfix">
                                            <li class="other-info-list">
                                                <a href="#" target="_blank">
                                                    <h3 class="other-head">微订房</h3>
                                                    <p class="other-desc">5分钟开启在线订房</p>
                                                </a>
                                                <i class="zq-icon  c-a-arrow"></i>
                                            </li>
                                            <li class="other-info-list">
                                                <a href="#" target="_blank">
                                                    <h3 class="other-head">ZshopS</h3>
                                                    <p class="other-desc">让客户快速找到你</p>
                                                </a>
                                                <i class="zq-icon  c-a-arrow"></i>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="card-item">
                                <div class="card">
                                    <div class="card-title">
                                        <div class="content">
                                            <div class="zq-product-img">
                                                <i class="zq-icon icon40x40 crad-area-icon4"></i>
                                            </div>
                                            <h1>协同与管理</h1>
                                            <p class="short-info">连接互通  简便开放</p>
                                        </div>
                                    </div>
                                    <div class="card-content content-first bg-e1e1e1">
                                        <ul class="content-first-list">
                                            <li>Z云邮</li>
                                            <li>有翼云销</li>
                                        </ul>
                                    </div>

                                    <div class="card-content content-second">
                                        <div>
                                            <a href="#" target="_blank">
                                                <p class="main-head">Z云邮</p>
                                            </a>
                                            <p class="main-tip">专注企业办公效率的提升，云“游”四海的企业邮箱</p>
                                            <p class="main-desc">帮企业提高工作效率的企业邮箱：支持微信收发信件、超大企业共享网盘，多维度的邮箱管理功能等。并且，在海外部署了多达34个收发节点，国内部署节点28个，让企业的重要邮件，全球畅“游”。</p>
                                            <a href="#" target="_blank">
                                                <div class="main-btn">了解详情</div>
                                            </a>
                                            <a href="#" target="_blank">
                                                <div class="main-white-btn">立即试用</div>
                                            </a>
                                        </div>
                                        <ul class="other-info clearfix">
                                            <li class="other-info-list">
                                                <a href="#" target="_blank">
                                                    <h3 class="other-head">有翼云销</h3>
                                                    <p class="other-desc">有效提升销售业绩和转化率</p>
                                                </a>
                                                <i class="zq-icon  c-a-arrow"></i>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container content-group layout layout-grid-0">
        <div class="col col-main">
            <div class="popular-application">
                <div class="main-wrap">
                    <div class="zq-main-head">
                        <h1>热门应用</h1>
                        <p>别人都在用什么？更多关联产品、定制化服务，为智能运营锦上添花</p>
                    </div>
                    <div class="popular-application-body mt60 mb60">
                        <div class="main-wrap">
                            <ul class="popular-application-content clearfix">
                                <li class="popular-application-item">
                                    <div class="item-detail">
                                        <div class="item-img-panel">
                                            <i class="zq-icon icon64x64 popular-app-icon1"></i>
                                        </div>
                                        <h3>我要建站</h3>
                                        <p class="item-info"><a href="/protal/" target="_blank">全网门户</a></p>
                                        <p class="item-desc">不同的终端、不同的方式，帮助您建立个性化的网站</p>
                                    </div>
                                </li>
                                <li class="popular-application-item">
                                    <div class="item-detail">
                                        <div class="item-img-panel">
                                            <i class="zq-icon icon64x64 popular-app-icon2"></i>
                                        </div>
                                        <h3>营销推广</h3>
                                        <p class="item-info"><a href="/market/" target="_blank">营销宝</a> <span class="p-dot"></span> <a href="/guoneituiguang.html" target="_blank">大把推 </a><span class="p-dot"></span> <a href="/yimitong/" target="_blank">易米通</a></p>
                                        <p class="item-desc">不同的载体、更多的呈现方式，帮助您获取更多的商机</p>
                                    </div>
                                </li>
                                <!-- <li class="popular-application-item">
                                    <div class="item-detail">
                                        <div class="item-img-panel">
                                            <i class="zq-icon icon64x64 popular-app-icon3"></i>
                                        </div>
                                        <h3>增值服务</h3>
                                        <p class="item-info">网站代维护 <span class="p-dot"></span> 详情设计 <span class="p-dot"></span> 翻译服务</p>
                                        <p class="item-desc">我们还为您提供多种类型的增值服务来满足您更多的需求</p>
                                    </div>
                                </li> -->
                                <li class="popular-application-item">
                                    <div class="item-detail">
                                        <div class="item-img-panel">
                                            <i class="zq-icon icon64x64 popular-app-icon4"></i>
                                        </div>
                                        <h3>优化管理</h3>
                                        <p class="item-info"><a href="/youju/" target="_blank">Z云邮</a> <span class="p-dot"></span> <a href="/youyi.html" target="_blank">有翼云销</a></p>
                                        <p class="item-desc">基础业务管理工具必不可少，内部沟通、客户管理统统都在这里</p>
                                    </div>
                                </li>
                                <li class="popular-application-item">
                                    <div class="item-detail">
                                        <div class="item-img-panel">
                                            <i class="zq-icon icon64x64 popular-app-icon5"></i>
                                        </div>
                                        <h3>电子商务</h3>
                                        <p class="item-info"><a href="/shangcheng.html" target="_blank">ZshopS</a></p>
                                        <p class="item-desc">既有电商业务基本功能，还有海量扩展功能组件，帮您实现深度经营</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-topbar">
        <div class="main-wrap">
            <ul class="footer-topbar-content clearfix">
                <li class="footer-topbar-item">
                    <div class="footer-topbar-item-con clearfix">
                        <div class="f-top-img f-left">
                            <i class="zq-icon icon47x47 f-t-icon1"></i>
                        </div>
                        <div class="f-top-content f-left">
                            <h4 class="f18">7x24小时售后支持</h4>
                            <p>全国7×24小时客服热线</p>
                        </div>
                    </div>
                </li>
                <li class="footer-topbar-item">
                    <div class="footer-topbar-item-con clearfix">
                        <div class="f-top-img f-left">
                            <i class="zq-icon icon47x47 f-t-icon2"></i>
                        </div>
                        <div class="f-top-content f-left">
                            <h4 class="f18">5倍故障时长赔偿</h4>
                            <p>5倍赔付终端服务的时间</p>
                        </div>
                    </div>
                </li>
                <li class="footer-topbar-item">
                    <div class="footer-topbar-item-con clearfix">
                        <div class="f-top-img f-left">
                            <i class="zq-icon icon47x47 f-t-icon3"></i>
                        </div>
                        <div class="f-top-content f-left">
                            <h4 class="f18">15天无理由退款</h4>
                            <p>我们支持15天内无理由退全款</p>
                        </div>
                    </div>
                </li>
                <li class="footer-topbar-item">
                    <div class="footer-topbar-item-con clearfix">
                        <div class="f-top-img f-left">
                            <i class="zq-icon icon47x47 f-t-icon4"></i>
                        </div>
                        <div class="f-top-content f-left">
                            <h4 class="f18">多对一团队服务</h4>
                            <p>全国80家分公司便捷服务</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="scripts/guyu.base.js"></script>
</body>
</html>