<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>古鱼</title>
    <link rel="stylesheet" href="styles/guyu.base.css" />
    <link rel="shortcut icon" href="images/favicon.ico" />
</head>
<body>
    <div class="container navigation">
        <ul class="left">
            <li class="logo">
                <img src="images/logo.svg" />
            </li>
            <li class="item">
                <a href="#">首页</a>
            </li>
            <li class="item">
                <a href="#">微信公众号</a>
            </li>
            <li class="item">
                <a href="#">微信服务号</a>
            </li>
            <li class="item">
                <a href="#">微信小程序</a>
            </li>
            <li class="item">
                <a href="#">产品展示</a>
            </li>
        </ul>

        <ul class="right">
            <li class="item">
                <a href="#">联系我们</a>
            </li>
            <li class="item">
                <a href="#">关于我们</a>
            </li>
        </ul>
    </div>

    <div class="container solution">
        <ul class="list">
            <li class="item">
                <div class="content">
                    <h3 class="title">企业微信公众平台</h3>
                    <p class="description">
                        为中小企业搭建独立电商平台，提供行业电商解决方案
                    </p>
                    <span class="link">查看详情</span>
                </div>
            </li>
            <li class="item">
                <div class="content">
                    <h3 class="title">企业微信应用解决方案</h3>
                    <p class="description">
                        为中小企业搭建独立电商平台，提供行业电商解决方案
                    </p>
                    <span class="link">查看详情</span>
                </div>
            </li>
            <li class="item">
                <div class="content">
                    <h3 class="title">服务号建设及推广</h3>
                    <p class="description">
                        为中小企业搭建独立电商平台，提供行业电商解决方案
                    </p>
                    <span class="link">查看详情</span>
                </div>
            </li>
        </ul>
    </div>

    <div class="container product">
        <div class="header">
            <h3 class="title">一站式企业互联网云服务</h3>
            <p class="summary">建站、营销、电商、协同、管理，专业产品助您轻松实现智能运营</p>
        </div>

        <div class="content">
            <ul class="list">
                <li class="item active">
                    <div class="header">
                        <i class="image"></i>
                        <h3 class="title">网站与门户</h3>
                        <span class="desc">连接内外  覆盖多端</span>
                    </div>
                    <div class="function">
                        <ul class="functionlist">
                            <li class="name">全网门户
                            </li>
                            <li class="name">移动门户
                            </li>
                            <li class="name">企业域名
                            </li>
                        </ul>
                    </div>
                    <div class="details">
                        <span class="detaillink">查看详情
                        </span>
                    </div>
                </li>
                <li class="item">
                    <div class="header">
                        <i class="image"></i>
                        <h3 class="title">网站与门户</h3>
                        <span class="desc">连接内外  覆盖多端</span>
                    </div>
                    <div class="function">
                        <ul class="functionlist">
                            <li class="name">全网门户
                            </li>
                            <li class="name">移动门户
                            </li>
                            <li class="name">企业域名
                            </li>
                        </ul>
                    </div>
                    <div class="details">
                        <span class="detaillink">查看详情
                        </span>
                    </div>
                </li>
                <li class="item">
                    <div class="header">
                        <i class="image"></i>
                        <h3 class="title">网站与门户</h3>
                        <span class="desc">连接内外  覆盖多端</span>
                    </div>
                    <div class="function">
                        <ul class="functionlist">
                            <li class="name">全网门户
                            </li>
                            <li class="name">移动门户
                            </li>
                            <li class="name">企业域名
                            </li>
                        </ul>
                    </div>
                    <div class="details">
                        <span class="detaillink">查看详情
                        </span>
                    </div>
                </li>
                <li class="item">
                    <div class="header">
                        <i class="image"></i>
                        <h3 class="title">网站与门户</h3>
                        <span class="desc">连接内外  覆盖多端</span>
                    </div>
                    <div class="function">
                        <ul class="functionlist">
                            <li class="name">全网门户
                            </li>
                            <li class="name">移动门户
                            </li>
                            <li class="name">企业域名
                            </li>
                        </ul>
                    </div>
                    <div class="details">
                        <span class="detaillink">查看详情
                        </span>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="container prompt">
        <div>
            <div class="popular-application">
                <div class="main-wrap">
                    <div class="zq-main-head">
                        <h1>热门应用</h1>
                        <p>别人都在用什么？更多关联产品、定制化服务，为智能运营锦上添花</p>
                    </div>
                    <div class="popular-application-body mt60 mb60">
                        <div class="main-wrap">
                            <ul class="popular-application-content clearfix">
                                <li class="popular-application-item">
                                    <div class="item-detail">
                                        <div class="item-img-panel">
                                            <i class="zq-icon icon64x64 popular-app-icon1"></i>
                                        </div>
                                        <h3>我要建站</h3>
                                        <p class="item-info"><a href="#" target="_blank">全网门户</a></p>
                                        <p class="item-desc">不同的终端、不同的方式，帮助您建立个性化的网站</p>
                                    </div>
                                </li>
                                <li class="popular-application-item">
                                    <div class="item-detail">
                                        <div class="item-img-panel">
                                            <i class="zq-icon icon64x64 popular-app-icon2"></i>
                                        </div>
                                        <h3>营销推广</h3>
                                        <p class="item-info"><a href="#" target="_blank">营销推广</a> <span class="p-dot"></span><a href="#" target="_blank">营销推广 </a><span class="p-dot"></span><a href="#" target="_blank">营销推广</a></p>
                                        <p class="item-desc">不同的载体、更多的呈现方式，帮助您获取更多的商机</p>
                                    </div>
                                </li>
                                <li class="popular-application-item">
                                    <div class="item-detail">
                                        <div class="item-img-panel">
                                            <i class="zq-icon icon64x64 popular-app-icon4"></i>
                                        </div>
                                        <h3>优化管理</h3>
                                        <p class="item-info"><a href="#" target="_blank">优化管理</a> <span class="p-dot"></span><a href="#" target="_blank">优化管理</a></p>
                                        <p class="item-desc">基础业务管理工具必不可少，内部沟通、客户管理统统都在这里</p>
                                    </div>
                                </li>
                                <li class="popular-application-item">
                                    <div class="item-detail">
                                        <div class="item-img-panel">
                                            <i class="zq-icon icon64x64 popular-app-icon5"></i>
                                        </div>
                                        <h3>电子商务</h3>
                                        <p class="item-info"><a href="#" target="_blank">电子商务</a></p>
                                        <p class="item-desc">既有电商业务基本功能，还有海量扩展功能组件，帮您实现深度经营</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container footer">
        <div class="links">
            <ul class="main">
                <li class="item">
                    <div>
                        <ul class="wrapper">
                            <li>
                                <a href="#">关于我们</a>
                            </li>
                            <li>
                                <a href="#">联系我们</a>
                            </li>
                            <li>
                                <a href="#">客户案例</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="item">
                    <div class="content">
                        <ul class="wrapper">
                            <li class="linkitem">
                                <a href="#">微信公众号</a>
                            </li>
                            <li class="linkitem">
                                <a href="#">微信企业号</a>
                            </li>
                            <li class="linkitem">
                                <a href="#">微信服务号</a>
                            </li>
                            <li class="linkitem">
                                <a href="#">微信小程序</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="item">
                    <div class="content">
                        <ul class="wrapper">
                            <li class="linkitem">
                                <a href="#">微信公众平台</a>
                            </li>
                            <li>
                                <a href="#">网站地图</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <div class="copyright">
            <div class="logo">
                <img src="images/logo.svg" />
            </div>
            <div class="info">版权所有 All rights reserved.<a href="http://www.miibeian.gov.cn" target="_blank">陕ICP备17013345-1</a></div>
        </div>
    </div>

    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="scripts/guyu.base.js"></script>
</body>
</html>
