@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Layout.cshtml";
}

<link rel="stylesheet" href="~/styles/jquery.dataTables.css" />
<section>
    <div class="content-wrapper ng-scope ng-fadeInUp">
        <h3>Orders</h3>
        <div class="table-responsive b0 ng-scope">
            <div class="dataTables_wrapper no-footer">
                <div class="dataTables_length">
                    <label>
                        每页显示
                        <select class="">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </label>
                </div>
                <div class="dataTables_filter">
                    <label>搜索:<input type="search" class="" placeholder=""></label>
                </div>
                <table class="table table-hover ng-isolate-scope dataTable no-footer" style="display: table;" role="grid">
                    <thead>
                        <tr role="row">
                            <th style="width: 80px" class="sorting_asc" tabindex="0" rowspan="1" colspan="1">
                                <strong>ORDER ID</strong>
                            </th>
                            <th class="sorting" tabindex="0" rowspan="1" colspan="1" style="width: 150px;">
                                <strong>PURCHASED ON</strong>
                            </th>
                            <th class="sorting" tabindex="0" rowspan="1" colspan="1" style="width: 145px;">
                                <strong>CLIENT NAME</strong>
                            </th>
                            <th class="sorting" tabindex="0" rowspan="1" colspan="1" style="width: 91px;">
                                <strong>AMOUNT</strong>
                            </th>
                            <th class="sorting" tabindex="0" rowspan="1" colspan="1" style="width: 102px;">
                                <strong>QUANTITY</strong>
                            </th>
                            <th class="sorting" tabindex="0" rowspan="1" colspan="1" style="width: 102px;">
                                <strong>SHIPMENT</strong>
                            </th>
                            <th class="text-center sorting" tabindex="0" rowspan="1" colspan="1" style="width: 76px;">
                                <strong>STATUS</strong>
                            </th>
                            <th class="text-center sorting" tabindex="0" rowspan="1" colspan="1" style="width: 155px;">
                                <strong>VIEW</strong>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr role="row" class="odd">
                            <td class="sorting_1">0001</td>
                            <td>03/11/2015</td>
                            <td>Addison Nichols</td>
                            <td>$ 515.20</td>
                            <td>547</td>
                            <td>04/10/2015</td>
                            <td class="text-center">
                                <span class="label label-info">Standby</span>
                            </td>
                            <td class="text-center">
                                <button type="button" class="btn btn-sm btn-default">
                                    <em class="icon-close"></em>
                                </button>
                            </td>
                        </tr>
                        <tr role="row" class="even">
                            <td class="sorting_1">0002</td>
                            <td>05/11/2015</td>
                            <td>Albert Watkins</td>
                            <td>$ 22.30</td>
                            <td>122</td>
                            <td>06/10/2015</td>
                            <td class="text-center">
                                <span class="label label-success">Paid</span>
                            </td>
                            <td class="text-center">
                                <button type="button" class="btn btn-sm btn-default">
                                    <em class="icon-close"></em>
                                </button>
                            </td>
                        </tr>
                        <tr role="row" class="odd">
                            <td class="sorting_1">0003</td>
                            <td>07/09/2015</td>
                            <td>Johnny Fernandez</td>
                            <td>$ 31.4</td>
                            <td>68</td>
                            <td>28/09/2015</td>
                            <td class="text-center">
                                <span class="label label-info">Standby</span>
                            </td>
                            <td class="text-center">
                                <button type="button" class="btn btn-sm btn-default">
                                    <em class="icon-close"></em>
                                </button>
                            </td>
                        </tr>
                        <tr role="row" class="even">
                            <td class="sorting_1">0004</td>
                            <td>09/09/2015</td>
                            <td>Chloe Rodriquez</td>
                            <td>$ 4.55</td>
                            <td>21</td>
                            <td>10/10/2015</td>
                            <td class="text-center">
                                <span class="label label-purple">Shipped</span>
                            </td>
                            <td class="text-center">
                                <button type="button" class="btn btn-sm btn-default">
                                    <em class="icon-close"></em>
                                </button>
                            </td>
                        </tr>
                        <tr role="row" class="odd">
                            <td class="sorting_1">0005</td>
                            <td>01/09/2015</td>
                            <td>Stanley Austin</td>
                            <td>$ 55.6</td>
                            <td>57</td>
                            <td>-</td>
                            <td class="text-center">
                                <span class="label label-purple">Shipped</span>
                            </td>
                            <td class="text-center">
                                <button type="button" class="btn btn-sm btn-default">
                                    <em class="icon-close"></em>
                                </button>
                            </td>
                        </tr>
                        <tr role="row" class="even">
                            <td class="sorting_1">0006</td>
                            <td>212/08/2015</td>
                            <td>Ethel Torres</td>
                            <td>$ 62.7</td>
                            <td>115</td>
                            <td>13/11/2015</td>
                            <td class="text-center">
                                <span class="label label-success">Paid</span>
                            </td>
                            <td class="text-center">
                                <button type="button" class="btn btn-sm btn-default">
                                    <em class="icon-close"></em>
                                </button>
                            </td>
                        </tr>
                        <tr role="row" class="odd">
                            <td class="sorting_1">0007</td>
                            <td>24/08/2015</td>
                            <td>Ronnie Nelson</td>
                            <td>$ 78.8</td>
                            <td>154</td>
                            <td>-</td>
                            <td class="text-center">
                                <span class="label label-danger">Rejected</span>
                            </td>
                            <td class="text-center">
                                <button type="button" class="btn btn-sm btn-default">
                                    <em class="icon-close"></em>
                                </button>
                            </td>
                        </tr>
                        <tr role="row" class="even">
                            <td class="sorting_1">0008</td>
                            <td>25/08/2015</td>
                            <td>Stanley Olson</td>
                            <td>$ 85.9</td>
                            <td>74</td>
                            <td>-</td>
                            <td class="text-center">
                                <span class="label label-info">Standby</span>
                            </td>
                            <td class="text-center">
                                <button type="button" class="btn btn-sm btn-default">
                                    <em class="icon-close"></em>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-lg-4 action">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-sm btn-primary">新增</button>
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="dataTables_paginate paging_simple_numbers">
                                <a class="paginate_button previous disabled" tabindex="0">Previous</a>
                                <span>
                                    <a class="paginate_button current" data-dt-idx="1" tabindex="0">1</a>
                                    <a class="paginate_button " data-dt-idx="2" tabindex="0">2</a>
                                </span>
                                <a class="paginate_button next" data-dt-idx="3" tabindex="0">Next</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
